{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": { "node": "current" }
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread"
  ]
}